* {
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
body{
    font-family: "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    padding: 0%;
    margin: 0%;
}

/* Header */
.top-bar h3 {
    display: inline;
    color: #fff;
}
.top-bar {
    grid-column: span 3 / auto;
    background-color: #2e4250;
    border-radius: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.top-bar input[type="submit"] {
    border: none;
    outline: none;
    height: 30px;
    width: 100px;
    background: rgb(50, 205, 109);
    color: #fff;
    font-size: 18px;
    border-radius: 15px;
    display: inline;
    float: right;
    padding: 5px;
}

/* main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
    margin-left: 15%;
    margin-right: 15%;
}
* {-webkit-box-flex: center; -webkit-flex:center;-ms-flex: center; flex: center; }
.question{
    float: right;
    margin-right: 30px;
    height:38px;
    background:rgb(50, 205, 109);
    border-radius:4px;
    padding-left: 20px;
    padding-right:20px;
    color:#fff;
}

/* Constants */
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.fa-window-close {
    background: rgba(231, 213, 213, 0.8);
    float: right;
    margin-right: 7px;
}

.fa-thumbs-up {
    margin-top: 0%;
    margin-left: 20%;
    color: rgba(7, 39, 36, 0.8);
}

.fa-thumbs-down {
    margin-top: 10%;
    margin-left: 5%;
    color: rgba(105, 74, 7, 0.8);
}

.likes {
    margin-top: 10%;
    margin-left: 15px;
}

.dislikes {
    margin-top: 10%;
    margin-left: 18px;
}

.fa-comment {
    margin-left: 22px;
    color: rgba(49, 6, 24, 0.8);
}

.fa-pencil-alt {
    margin-left: 15px;
    color: rgba(113, 121, 9, 0.8);
}
.question a{
    text-decoration: none;
}

/* Footer */
.site-footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 10%;
        background-color:rgb(15, 15, 15);
        color: white;
        text-align: center;
      }
}
/* Responsive */
@media only screen and (max-width: 767px){
    .column {
        width: 100% !important;
    }
}
