* {
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
body{
    font-family: "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    padding: 0%;
    margin: 0%;
}

/* Header */
.top-bar h3 {
    display: inline;
    color: #fff;
}
.top-bar {
    grid-column: span 3 / auto;
    background-color: #2e4250;
    border-radius: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.top-bar input[type="submit"] {
    border: none;
    outline: none;
    height: 30px;
    width: 100px;
    background: rgb(50, 205, 109);
    color: #fff;
    font-size: 18px;
    border-radius: 15px;
    display: inline;
    float: right;
    padding: 5px;

/* Constants */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 80%;
    margin: auto;
}

